<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <a href="/caps/">Back to Caps</a>
    <title>Create a Cap</title>
  </head>
  <body>
  <h1>Edit <%= cap.name %></h1>

<form action="/caps/<%=cap._id%>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= cap.name %>" />

    <label for="isReadyToEat">Ready to Wear?</label>
    <input type="checkbox" name="isReadyToWear" id="isReadyToWear" <% if (cap.isReadyToWear) { %>checked<% } %> />

    <button type="submit">Update Cap</button>
  </form>


  </body>
</html>
