<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Cap</title>
  </head>
  <body>
    <h1>Create a New Cap!</h1>

  <form action="/caps" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />

    <label for="isReadyToEat">Ready to Wear?</label>
    <input type="checkbox" name="isReadyToWear" id="isReadyToWear" />

    <button type="submit">Add Cap</button>
  </form>


  </body>
</html>
